.card-details-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.details-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
  margin: 0 80px;
}

.card-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.card-details-page p {
  font-size: 0.9em;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
}

.card-actions {
  display: flex;
  flex-direction: column;
}

.card-carousel {
  display: flex;
  align-items: center;
  gap: 20px;
}

.carousel-slide {
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.gif-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
}

.carousel-message {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  color: white;
}

.carousel-gif {
  width: 100%;
  height: 45%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.carousel-text {
  font-size: 1rem;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align: justify;
}

.carousel-author {
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
}

.carousel-cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.mobile-arrow {
  display: none;
}

@media (max-width: 767px) {
  .card-details-page {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10%;
  }
  .card-details-page p {
    font-size: 0.9em;
  }
  .insructions {
    display: none;
    align-items: flex-start;
  }
  .details-left {
    align-items: flex-start;
    width: 100vw;
    padding: 0 20px;
  }
  .carousel-slide {
    width: 90vw;
    height: 60vh;
    min-height: 500px;
    min-width: 350;
    margin: 20px 0;
  }
  .carousel-text {
    margin-bottom: 0px;
  }
  .desktop-arrow {
    display: none;
  }
  .card-carousel {
    margin: auto;
  }
  .mobile-arrow-section {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0px 20px 40px;
    gap: 20px;
  }
  .mobile-arrow {
    display: block;
  }
}
