.card-details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: linear-gradient(135deg, #dfe6ea, #e9d6dd, #ffffff);
  animation: gradient-animation 20s ease infinite;
}

.card-details-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.card-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Carousel */
.card-carousel {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.carousel-arrow {
  background: none;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.carousel-arrow:hover {
  color: #555;
  transform: scale(1.1);
}

.carousel-slide {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.carousel-cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.carousel-message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px; 
  height: 100%;
  color: #333;
}

.carousel-gif {
  width: 100%;
  max-height: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.carousel-text {
  font-size: 1rem;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align:justify;
}

.carousel-author {
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
}

/* Actions */
.card-actions {
  display: flex;
  gap: 20px;
}

.card-action-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.share-button {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  border-radius: 2em;
}

.share-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.publish-button {
  padding: 1em;
  background-color: rgba(10, 10, 10, 0.5);
  color: white;
  border-radius: 2em;
}

.publish-button:hover {
  background-color: rgba(10, 10, 10, 0.3);
}