.contributor-page {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

/* Contributor Container */
.contributor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contributor-info {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.3);
}

.contributor-info h1 {
  color: rgba(255, 255, 255, 0.8);
}


/* Card Preview */
.contributor-card-preview {
  width: 500px;
  height: 700px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px) brightness(1.2);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
  position: relative;
}

.contributor-card-preview-template {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.gif-placeholder {
  margin: 20px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 2550, 0.1);
  border-radius: 20px;
  cursor: text;
}

.preview-gif {
  width: 90%;
  max-height: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.preview-content {
  position: relative;
  z-index: 2;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contributor-input,
.contributor-textarea {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 1em;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.5rem;
  cursor:inherit;
} 

.contributor-input {
  font-style: italic
}

.contributor-input:focus,
.contributor-textarea:focus {
  outline: none;
}

.contributor-textarea {
  height: 100%;
  text-align: justify;
  resize:vertical;
  resize: none;
}

.gif-results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.gif-result {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.gif-result:hover {
  transform: scale(1.1);
  border-color: #8187b7;
}

.gif-result.selected {
  border-color: #6e567b;
}

.contributor-button {
  padding: 10px 20px;
  margin: 20px 0px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.9);
}

.contributor-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.contributor-button:disabled{
  padding: 10px 20px;
  margin: 20px 0px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.9);
}

/* Modal Overlay */
.gif-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Dark transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.gif-modal-content {
  background: #fff;
  color: #333;
  border-radius: 16px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Close Button */
.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-modal-button:hover {
  color: #666;
}

/* Search Input */
.gif-search-input {
  margin: 15px 5px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: white;
  color: #333;
  border-radius: 30px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.gif-search-input:focus {
  border-color: #8187b7;
  box-shadow: 0 2px 4px rgba(129, 135, 183, 0.3);
}

/* Search Button */
.gif-search-button {
  padding: 10px 20px;
  background-color: #a2a3ab;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.gif-search-button:hover {
  background-color: #7378a3;
}

/* GIF Results Grid */
.gif-results {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 GIFs per row */
  gap: 10px;
}

/* GIF Item */
.gif-result {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gif-result:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.gif-result.selected {
  border: 3px solid #8187b7;
  box-shadow: 0 0 10px rgba(129, 135, 183, 0.5);
}
