/* Contributor Container */
.contributor-container {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

/* Card Preview */
.contributor-card-preview {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.contributor-card-preview-template {
  padding: 20px;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 2550, 0.6);
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Preview Content Styling */

.gif-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: rgba(255, 255, 2550, 0.3);
  border-radius: 20px;
  cursor: pointer;
}

.preview-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #333;
}

.preview-gif {
  width: 100%;
  max-height: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.preview-text {
  font-size: 1rem;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align: justify;
}

.preview-author {
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
}

/* Card Form */
.contributor-form {
  padding: 30px 50px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  width: 700px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.contributor-form label {
  color: rgba(255, 255, 255, 0.4);
  text-align: left;
}

.contributor-input,
.contributor-textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 1em;
  font-size: 1rem;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contributor-input:focus,
.contributor-textarea:focus {
  outline: none;
  border-color: #dfdfdf;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.contributor-textarea {
  height: 120px;
  resize: none;
}

/* GIF*/

.gif-results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.gif-result {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.gif-result:hover {
  transform: scale(1.1);
  border-color: #8187b7;
}

.gif-result.selected {
  border-color: #6e567b;
}

/* Submit Button */
.contributor-button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 1em;
  background-color: rgba(10, 10, 10, 0.5);
  color: white;
  margin-bottom: 20px;
}

.contributor-button:hover {
  background-color: rgba(10, 10, 10, 0.3);
}

/* Modal Overlay */
.gif-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Dark transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.gif-modal-content {
  background: #fff;
  color: #333;
  border-radius: 16px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Close Button */
.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-modal-button:hover {
  color: #666;
}

/* Search Input */

.gif-search-input {
  margin: 15px 5px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: white;
  color: #333;
  border-radius: 30px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.gif-search-input:focus {
  border-color: #8187b7;
  box-shadow: 0 2px 4px rgba(129, 135, 183, 0.3);
}

/* Search Button */
.gif-search-button {
  padding: 10px 20px;
  background-color: #a2a3ab;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.gif-search-button:hover {
  background-color: #7378a3;
}

/* GIF Results Grid */
.gif-results {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 GIFs per row */
  gap: 10px;
}

/* GIF Item */
.gif-result {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gif-result:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.gif-result.selected {
  border: 3px solid #8187b7;
  box-shadow: 0 0 10px rgba(129, 135, 183, 0.5);
}
