/* General Styling */
.contributor-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: linear-gradient(150deg, #323335, #3d3f4d, #232323);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contributor-title {
  margin: 1rem 0;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
}

/* Contributor Container */
.contributor-container {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

/* Card Preview */
.contributor-card-preview {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  
}

.contributor-card-preview-template {
  padding: 20px;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 2550, 0.6);
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Preview Content Styling */
.preview-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #333;
}

.preview-gif {
  width: 100%;
  max-height: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.preview-text {
  font-size: 1rem;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align:justify
}

.preview-author {
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
}

/* Card Form */
.contributor-form {
  padding: 30px 50px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  width: 700px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.contributor-form label {
  color:rgba(255, 255, 255, 0.4);
  text-align: left;
}

.contributor-input,
.contributor-textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 1em;
  font-size: 1rem;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contributor-input:focus,
.contributor-textarea:focus {
  outline: none;
  border-color: #dfdfdf;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.contributor-textarea {
  height: 120px;
  resize: none;
}

/* Submit Button */
.contributor-button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 1em;
    background-color: rgba(10, 10, 10, 0.5);
    color: white;
    margin-bottom: 20px;
}

.contributor-button:hover {
    background-color: rgba(10, 10, 10, 0.3);
}
