/* right side: preview & template selection */
.card-preview {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-preview-template {
  padding: 10px;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.carousel-arrow {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #57585f;
  cursor: pointer;
  transition: color 0.3s ease;
}

.carousel-arrow:disabled {
  color: #323335;
  cursor: not-allowed;
}

.carousel-templates {
  display: flex;
  gap: 10px;
  padding: 0 10px;
}

.template-option {
  width: 60px;
  height: 90px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.template-option:hover {
  transform: scale(1.1);
}

.template-option.selected {
  border-color: #6e567b;
}

.disabled-action-icon {
  cursor: not-allowed;
  opacity: 0.1;
}
