.card-creation-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.card-creation-title {
  margin: 0 0 40px;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
}

/* left side: card creation form */
.card-creation-form {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  width: 600px;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.1); */
  color: #333;
  border-radius: 20px;
  box-sizing: border-box;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
}

.card-creation-form label {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  margin: 5px 0 15px;
  font-size: 0.8em;
} 

.card-creation-input,
.card-creation-textarea {
  margin-top: 20px; 
  padding-bottom: 15px;
  border: 1px solid transparent;
  border-bottom: 1px solid grey;
  font-size: 1rem;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: transparent;
  color: white;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.card-creation-input:focus,
.card-creation-textarea:focus {
  outline: none;
  border-bottom: 1px solid white;
  box-shadow: 0 2px 6px black(255, 64, 129, 0.1);
}

.card-creation-textarea {
  height: fit-content; 
  resize: none;
}

.card-creation-button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 1em;
  background-color: rgba(10, 10, 10, 0.5);
  color: white;
}

.card-creation-button:hover {
  background-color: rgba(10, 10, 10, 0.3);
}

.disabled-action-icon {
  cursor: not-allowed;
  opacity: 0.1;
}

/* button */ 
.create-button {
  padding: 10px 20px;
  margin: 20px 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.9);
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.create-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.create-button:disabled{
  background-color: rgba(255, 255, 255, 0.1);
  cursor: not-allowed;
}

/* right side: preview & template selection */

.card-preview {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-preview-template {
  padding: 10px;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.carousel-arrow {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #57585f;
  cursor: pointer;
  transition: color 0.3s ease;
}

.carousel-arrow:disabled {
  color: #323335;
  cursor: not-allowed;
}

.carousel-templates {
  display: flex;
  gap: 10px;
  padding: 0 10px;
}

.template-option {
  width: 60px;
  height: 90px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.template-option:hover {
  transform: scale(1.1);
}

.template-option.selected {
  border-color: #6e567b;
}
