:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(30deg, #1b1b1b, #404040, #333);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app-container {
  position: relative;
  padding: 20px; /* Add padding to ensure the logo is not too close to the edges */
}

.logo-link {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10; /* Ensure the logo is above all other content */
  text-decoration: none;
}

.app-logo {
  width: 100px;
  transition: transform 0.3s ease-in-out;
}

.app-logo:hover {
  transform: scale(1.05);
}

.title {
  margin: 1rem 0;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
}

.title-center {
  margin: 1rem 0;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

/* Custom toast container */
.custom-toast {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: black !important;
  border-radius: 8px !important;
  width: 80vw !important;
  max-width: 300px !important;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Optional: Customize the body */
.custom-toast-body {
  font-size: 1em !important;
  font-weight: 500;
  text-align: center;
}
