.published-card-page {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.published-card-title {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}

.published-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.actions {
  display: flex;
  gap: 20px;
  padding: 20px 0px;
}

.final-card-with-icons {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end;
  align-items: flex-end
}
.mobile-navigation {
  display: none
}

@media (max-width: 767px) {
  .published-card-page {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    gap: 20px;
    height: 100vh;
  }
  .desktop-navigation-icon {
    display: none
  }

  .mobile-navigation {
    display: flex; /* Show navigation icons below the card */
    gap: 20px;
    padding-right: 60px;
  }
}